<div>
	<h2 class="homePageTitle">Welcome to Login/Register App</h2>
	<div class="list-group">
	  <p class="list-group-item">express</p>
	  <p class="list-group-item">mysql</p>
	  <p class="list-group-item">mysql-migrations</p>
	  <p class="list-group-item">morgan</p>
	  <p class="list-group-item">body-parser</p>
	  <p class="list-group-item">method-override</p>
	  <p class="list-group-item">crypto-js</p>
	  <p class="list-group-item">angular + bootstrap</p>
	</div>
</div>
<div id="buttons">
	<button ng-click="goToLogin()" class="btn btn-default btn-block">Login</button>
	<button ng-click="goToRegister()" class="btn btn-primary btn-block">Register</button>
</div>