<div id="loginForm">
	<div>
	    <h2 class="text-center">Login</h2> 
	    <img class="profile-img-card" src="images/avatar_2x.png">      
	    <div class="form-group input-group">
	    	<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	        <input type="text" class="form-control" ng-model="username" placeholder="Username" required="required">
	    </div>
	    <div class="form-group input-group">
	    	<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
	        <input type="password" class="form-control" ng-model="password" placeholder="Password" required="required">
	    </div>
	    <div class="form-group">
	        <button class="btn btn-primary btn-block" ng-click="login()">Login</button>
	    </div>  
	</div>   
</div>